<div class="bgprop">
  <div class="container" style="border: black solid 2px; margin-top: 5%">
    <h1>Who are we?</h1>

    <p>
      Solids and Pastels aims at giving your brand a ravishing graphic designery that appeals to your customers. With established and distinguished clientelle
      such as Aarya24kt, Esperanza, Sevn Official, The Ninth Element and many more, this brand has changed not only the way customers perceive this but also 
      increased their social presence.

      <br>
      <br>

      At the cheapest rates in the market, you can get the best quality work in the shortest time interval. We value our delivery dates and late deliveries, nah! That's not our thing!
      So what more reason to connect with us?
      <br>
      <br>
      <a routerLink="/contactus" >Click here to send an inquiry!</a>
    </p>
  </div>
</div>